*{
  padding:0px;
  box-sizing: border-box;
}
.regform{
  background-color:mediumseagreen;
  text-align: left;
  font-family:Georgia, 'Times New Roman', Times, serif;
  /*margin : 100px 500px 50px 500px;*/
  width:35%;
  margin-left:480px;
  border-radius: 5px;
  font-style:italic;
  font-size: medium;
  
}
.first{
  color:white;
  text-align: center;
}
.bdy{
  background-image: url("images/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

label{
  flex-direction: row;
  text-align: left;
  display: inline-block;

}
.box{
  height:35px;
}
select,input{
  width: 100%;
  border-radius: 5px;
}

textarea{
  padding : 10px;
  border-radius: 5px;
  width: 100%;
}

ion-icon{
  font-size: 20px;
  display:inline-block;
  border:10px;
  width:40%;
  border-color: white;
}


button{
  border-radius: 5px;
  width:80px;
  background-color:rgb(87, 192, 87);
  color: aliceblue;
  text-align: center;
  margin-left:200px;
  height:40px;
  margin-top:10px;
  
}
.btn{
  border:2px solid red;
}