*{
  font-family: sans-serif;
}
nav{
  background: mediumseagreen;
  height:50px;
  width: 100%;
}
nav ul{
  float: right;
  text-align: center;
  margin-top:10px;
  margin-right: 25px;
  /*width:100%;*/
  list-style: none;
  position: relative;
}
.header{
    height:80px;
    width:100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(2, 41, 48);
    color:white;

    padding-top:15px;
}
#headermenu{
    margin-left: 300px;
   
    width:100%;
}
nav ul li{
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  cursor:pointer;
  margin: 2px 50px 15px 5px;
  height: 30px;
  width: 130px;
  border-radius: 5px;
  
}
nav ul li a{
    color:black;
    text-decoration: none;
}
nav ul li:hover{
  background-color: white;
}

nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}

nav ul li:hover ul{
  background-color:white;
  top: -8px;
  padding:10px 10px;
  opacity:1;
  color:black;
  visibility:visible;z-index:100;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 120px;
  float: none;
  display: list-item;
  font-family: sans-serif;
  font-weight: 200;
  border-bottom: 3px solid black;
  
}
nav ul ul li:hover{
  background-color:mediumseagreen;
  color:black;
}
.dropdown{
  margin-right: -5px;
}
.dropdown li{
    height:50px;
}
.pic{
  text-align: left;
  margin-top: 100px;
  margin-left: 100px;
}

.pinfo{
  display: inline-block;
}
.question{
  font-weight: bolder;
}
