
body{
  width:100%;
  padding:0px 0px;
  margin:auto;
}
nav{
  background: mediumseagreen;
  height:50px;
  width: 100%;
}
nav ul{
  float: right;
  text-align: center;
  margin-top:10px;
  margin-right: 25px;
  /*width:100%;*/
  list-style: none;
  position: relative;
}
.header{
    height:80px;
    width:100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(2, 41, 48);
    color:white;

    padding-top:15px;
}
#headermenu{
    margin-left: 300px;
   
    width:100%;
}
nav ul li{
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  cursor:pointer;
  margin: 2px 50px 15px 5px;
  height: 30px;
  width: 130px;
  border-radius: 5px;
  
}
nav ul li a{
    color:black;
    text-decoration: none;
}
nav ul li:hover{
  background-color: white;
}

nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}

nav ul li:hover ul{
  background-color:white;
  top: 25px;
  padding:10px 10px;
  opacity:1;
  color:black;
  visibility:visible;z-index:100;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 120px;
  float: none;
  display: list-item;
  font-family: sans-serif;
  font-weight: 200;
  border-bottom: 3px solid black;
  
}
nav ul ul li:hover{
  background-color:mediumseagreen;
  color:black;
}
.dropdown{
  margin-right: -5px;
}
.dropdown li{
    height:50px;
}
.card {
  margin:10px;
  border-radius: 5px;
  border:5px solid rgb(247, 242, 242);
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display:-moz-inline-box;
  height: 290px;
  width: 230px;
  margin: 30px;
  font-family:sans-serif;
}
.card img{
margin-left: auto;
margin-right: auto;
height: 100px;
width:100px;
padding: 10px;
}
table{
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
table tr td{
  border-collapse: collapse;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover{
  background-color:mediumseagreen;
  color:black;
}